:root {
    --main-color: #06c;
    --accent-color: #006;
    --dark-blue: #3E38F2;
    --off-white: #f0f0f0;
  }


input {
    background-color: #3E38F2;
    color: white;
}

form {
    color: white;
}

body {
        background-color: var(--dark-blue);

}

.container {
    background-color: var(--dark-blue);
    border-bottom-color: #6598ff;
}

nav a {
    color: white;
}

.bear-edit {
    background-color: white;
}
nav label {
    color: white;
}

.tasks {
    border-color: black;
}

.button1 {
    background-color: #3E38F2;
    color: white;
    border-color: #829FD9;
}

.button1:hover {
    background-color: #230A59;
}

input[type=text] {
    border-color: #ccc;
}

.label, h1, label {
    color: white;
}

.checkmark {
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: rgb(138, 138, 138);
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: black;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
    border-color: white;
}


/* 1025 pixel screen or less do this: */


/* 
Input placeholder color
https://www.w3schools.com/howto/howto_css_placeholder.asp
*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }